/* MacOS Dark by Ank1x */

:root {
  --base00: #101010;
  --base01: #191919;
  --base02: #424242;
  --base03: #7e7e7e;
  --base04: #a8a8a8;
  --base05: #d8d8d8;
  --base06: #e8e8e8;
  --base07: #86BA90;
  --base08: #f43753;
  --base09: #dc9656;
  --base0A: #ffc24b;
  --base0B: #C9D05C;
  --base0C: #73cef4;
  --base0D: #b3b8c3;
  --base0E: #d3b987;
  --base0F: #a97c5d;
}
